# Ignore artifacts:
build
dist
coverage

# Ignore all node_modules
node_modules

# Ignore package lock
package-lock.json

# Ignore env files
.env
.env.* # All env files with extensions

# Ignore specific config files
*.config.js
*.config.ts

# Ignore public assets
public

# Ignore JSON files if not to be formatted
*.json

# Ignore yarn.lock or pnpm-lock.yaml
yarn.lock
pnpm-lock.yaml

# Ignore README or markdown docs
README.md
*.md

# Ignore Docker and Kubernetes files
Dockerfile
*.yml
*.yaml

# Ignore logs
*.log

# Ignore Git-related files
.gitignore

# Ignore Jest and coverage files
jest.config.js
coverage/

# Ignore any IDE-related directories or files
.vscode
.idea
.DS_Store
